<footer class="footer py-4">
  <div class="container text-center">
    <div class="mb-3">
      <a routerLink="/products" class="footer-link">Home</a> |
      <a routerLink="/products" class="footer-link">Products</a> |
      <a routerLink="/cart" class="footer-link">Cart</a> |
      <a routerLink="/orders" class="footer-link">Orders</a>
    </div>

   <div class="mb-3 small">
  📧
  <a href="mailto:mamdohbassem2@gmail.com" class="footer-link">mamdohbassem2&#64;gmail.com</a>
  |
  📞
  <a href="tel:+201153562678" class="footer-link">+20 115 356 2678</a>
  |
  💬
  <a href="https://wa.me/201153562678" target="_blank" class="footer-link">WhatsApp</a>
</div>


    <div class="small text-muted">
      © 2025 Your E‑Commerce. All Rights Reserved.
    </div>
  </div>
</footer>
